<a href="https://colab.research.google.com/github/33577/suicideRatePrediction/blob/master/Suicide_rate_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
!pip install kaggle
!mkdir .kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.3.9)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [0]:
import json
token = {"username":"jeonjong","key":"87a6529294a3c5930bedb61dc297018d"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [0]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [26]:
!kaggle config set -n path -v{/content}
!chmod 600 /root/.kaggle/kaggle.json

- path is now set to: {/content}

In [28]:
!kaggle datasets list -s suicide

ref                                                   title                                       size  lastUpdated          downloadCount
----------------------------------------------------  -----------------------------------------  -----  -------------------  -------------
szamil/who-suicide-statistics                         WHO Suicide Statistics                     307KB  2018-08-29 21:23:11          10078
sathutr/global-suicide-data                           Global suicide data                        133KB  2017-12-23 11:39:41           1199
russellyates88/suicide-rates-overview-1985-to-2016    Suicide Rates Overview 1985 to 2016        396KB  2018-12-01 19:18:25          33614
zusmani/pakistansuicideattacks                        Pakistan Suicide Bombing Attacks            67KB  2017-12-01 15:03:19           2520
rajanand/suicides-in-india                            Suicides in India                            1MB  2017-07-23 12:51:45           4439
wangyaxin/suicide-analyse                             suicide analyse                              2MB  2019-04-17 05:19:56             36
tanishq18/india-suicide-statistics-201112             India Suicide Statistics (2001-12)           1MB  2018-12-19 19:51:54             70
jblazez94/suicides                                    suicides                                   102KB  2018-01-12 17:21:16            191
tjysdsg/suicide-data-from-who                         Suicide Data From WHO                       59MB  2018-10-19 13:06:32            122
residentmario/us-veteran-suicides                     US Veteran Suicides                         28KB  2017-11-14 17:57:43            708
keshan/suicides-in-sri-lanka                          Suicides in Sri Lanka                       10KB  2018-09-20 13:54:37             46
kingburrito666/the-demographic-rforeveralone-dataset  The Demographic /r/ForeverAlone Dataset     14KB  2017-04-28 23:08:58           1240
alexanderrohit/suicide-cases-stats-of-all-countries   suicide cases stats of all countries         3KB  2019-02-05 02:23:58             22
zusmani/pakistandroneattacks                          Pakistan Drone Attacks                     117KB  2017-12-01 15:04:48           1465
rajanand/crime-in-india                               Crime in India                               2MB  2017-08-31 20:37:56           7044
argolof/predicting-terrorism                          Religious Terrorist Attacks                997KB  2016-07-26 19:25:51           1206
northon/globalterrorismdatabase-compact               Global Terrorism Database_compact version   17MB  2018-02-15 10:57:38            206
mitzic/yates-suicide-rates-data                       Yates Suicide Rates Data                    17KB  2019-02-14 07:50:59              7
zusmani/sacred-games                                  Sacred Games                                 3KB  2018-07-16 20:43:53            185
ibrahimmukherjee/quran-religious-people-more-happy    Are religious people happier?               69KB  2018-02-18 14:28:34            152

In [29]:
!kaggle datasets download -d russellyates88/suicide-rates-overview-1985-to-2016 -p /content

Downloading suicide-rates-overview-1985-to-2016.zip to /content
  0% 0.00/396k [00:00<?, ?B/s]
100% 396k/396k [00:00<00:00, 55.6MB/s]

In [30]:
!unzip \*.zip

Archive:  suicide-rates-overview-1985-to-2016.zip
  inflating: master.csv

In [31]:
ls

ls: cannot access 'drive': Transport endpoint is not connected
'countries of the world.csv'   sample_data/
 countries_of_the_world.csv   'suicide_rates (1).csv'
 drive/                       'suicide_rates (2).csv'
 gdrive/                       suicide_rates.csv
 master.csv                    suicide-rates-overview-1985-to-2016.zip

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import pandas as pd
df1 = pd.read_csv('suicide_rates.csv')
df2 = pd.read_csv('countries_of_the_world.csv')

In [40]:
df1.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [38]:
df1_2010 = df1[df1.year == 2010]
df1_2010.head()

     country  year   sex  ...  gdp_for_year ($)   gdp_per_capita ($)    generation
252  Albania  2010  male  ...     11,926,953,259                4359        Silent
253  Albania  2010  male  ...     11,926,953,259                4359  Generation X
254  Albania  2010  male  ...     11,926,953,259                4359  Generation X
255  Albania  2010  male  ...     11,926,953,259                4359        Silent
256  Albania  2010  male  ...     11,926,953,259                4359    Millenials

[5 rows x 12 columns]

In [41]:
df2.head()

           Country                               Region  ...  Industry  Service
0     Afghanistan         ASIA (EX. NEAR EAST)           ...      0,24     0,38
1         Albania   EASTERN EUROPE                       ...     0,188    0,579
2         Algeria   NORTHERN AFRICA                      ...       0,6    0,298
3  American Samoa   OCEANIA                              ...       NaN      NaN
4         Andorra   WESTERN EUROPE                       ...       NaN      NaN

[5 rows x 20 columns]